.text-white { color: var(--white); }
.text-gray { color: var(--gray-text); }
.text-pink { color: var(--pink); }
.text-blue { color: var(--blue); }

.hello {
    font-size: 4.5em; 
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    margin: 0px;
}

.titles {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

body, p {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 600;
  font-size: 1.0em;
}

.subtitles {
    font-size: 1.6em;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 900;
}

.projects-text {
    width: 1000px;
    margin: 0, 20px;
    font-size: 1.2em;
}

.article-box h2 {
    margin: 0 0 10px 0;
    color: var(--blue);
    font-size: 1.2em;
}

.article-box h3 {
    margin: 0 0 15px 0;
    font-weight: normal;
}

.article-box a {
    text-decoration: none;
    color: inherit;
}

.article-box a:hover {
    color: var(--blue);
}


@media (max-width: 480px) {
    body, p {
      font-family: 'Share Tech Mono', monospace;
      font-weight: 600;
      font-size: 1.0em;
    }

    .hello {
        text-align: center;
        font-size: 3.5em;
        margin-top: 45px;
    }

    .projects-text {
        width: 340px;
        margin: 0px, 20px;
        text-align: justify;
    }
}
